{% extends "base.html" %} {% block content %}

<h1>My Bookings</h1>

<table border="0" cellspacing="10">
  <th style="padding-right: 25px;">Restaurant</th>
  <th style="padding-right: 25px;">Table</th>
  <th style="padding-right: 25px;">Date</th>
  <th style="padding: 25px;">Actions</th>

  {% for booking in bookings %}
  <tr>
    <td style="padding-right: 25px;">{{ booking.restaurant.name }}</td>
    <td style="padding-right: 25px;">{{ booking.table.name }}</td>
    <td style="padding-right: 25px;">{{ booking.date }}</td>
    <td style="padding: 25px; display: inline-grid;">
      <a href="/delete-booking/{{ booking.id }}">Delete</a>
      <a href="/update-booking/{{ booking.id }}">Update Booking</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}